.container-body{
  display:flex;
  flex-direction: column;
  gap: 10;
  height:80vh;
  width:50vw;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20%;
  align-items: center;
}
.container
{
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}
textarea{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  margin-bottom: 20px;
  border-radius:5px;
}
button{
  padding: 5px;
  width: 100px;
  border-radius: 20px;
  background-color:green;
  color:white;
  border:none;
}
button:hover{
  background-color:white;
  color:green;
  border: 1px solid green;
}

h1{
  color:green;
}